@model Product
<div class="card shadow border-0 mt-4 mb-5">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white py-2">Edit Product</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post">
			<div class="border p-3">
				<input asp-for="Id" hidden />
				<input asp-for="Created" hidden />
				<div class="form-floating py-2 col-12">
					<input asp-for="DisplayOrder" class="form-control border-0 shadow" />
					<label asp-for="DisplayOrder" class="ms-2"></label>
					<span asp-validation-for="DisplayOrder" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="ProductCode" class="form-control border-0 shadow" />
					<label asp-for="ProductCode" class="ms-2"></label>
					<span asp-validation-for="ProductCode" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="ProductName" class="form-control border-0 shadow" />
					<label asp-for="ProductName" class="ms-2"></label>
					<span asp-validation-for="ProductName" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<textarea asp-for="ProductDescription" class="form-control border-0 shadow"></textarea>
					<label asp-for="ProductDescription" class="ms-2"></label>
					<span asp-validation-for="ProductDescription" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12">
					<input asp-for="Price" class="form-control border-0 shadow" />
					<label asp-for="Price" class="ms-2"></label>
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
				<div class="form-floating py-2 col-12 mb-4">
					<input asp-for="InStock" type="checkbox" class="form-check-input border-0 shadow" checked="checked" />
					<label asp-for="InStock" class="form-check-label ms-2"> Available</label>
				</div>

				<div class="row">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control"><i class="bi bi-pencil-square"></i> Edit</button>
					</div>
					<div class="col-6 col-md-3">
						<a class="btn btn-secondary form-control" asp-controller="Product" asp-action="Index">
							<i class="bi bi-x-circle"></i> Cancel
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}


